* html .group { /* IE6 */
height: 1%;
}
/* 
#wrap, #footer-content {
width: expression(document.body.clientWidth < 760? "760px" : document.body.clientWidth > 890? "890px" : "auto");
}
#content h2.ie1 {
font-size: 3.333em; /* 40px / 12px = 3.333
font-variant: normal;
font-weight: normal;
color: #0080b0;
text-align: center;
letter-spacing: -.0133em;
}
#content h3.ie2 {
font-size: 1.1em;
text-transform: uppercase;
font-weight: normal;
color: #fff;
background: url(../images/pickofday-bg.gif) no-repeat top left;
text-align: center;
letter-spacing: .125em;
padding: .75em 0;
margin: 20px 0;
}
*/